* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    background-image: url('https://i.pinimg.com/564x/5b/db/55/5bdb559fff270938aab8355b7e6a69dc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

nav {
    display: flex;
    background-color: #333;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    height: 10vh;
}

h1 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100%;
}

.parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;
}

.open-button {
    background-color: transparent;
    border: 3px solid black;
    color: black;
    font-size: 32px;
    font-weight: bolder;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    font-family: 'Courier New', monospace;
}

.open-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


/* QUIZ SPIL */


/* Quiz Container */

.questions-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.questions-label {
    font-size: 14px;
    font-weight: bold;
}

.questions-remaining {
    color: black;
    margin-bottom: 5px;
    font-size: 15px;
}

.questions-answered {
    color: black;
    margin-bottom: 15px;
    font-size: 15px;
}

.game-container {
    display: none;
}

.game-btn {
    display: flex;
    display: inline;
    justify-content: space-between;
    margin: 10px auto;
    margin-right: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 100px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;
}

.ai-button {
    display: flex;
    display: inline;
    justify-content: space-between;
    margin: 10px auto;
    margin-right: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 100px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;
}

.game-btn:hover {
    background-color: grey;
}


/* Quiz Popup */

.game-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.game-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 70%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.radio-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-right: 10px;
}

.radio-item input[type="radio"] {
    margin-right: 10px;
}

.radio-item label {
    font-weight: bold;
}

.radio-item.selected {
    background-color: #ccc;
}


/* Kryds og bolle */

.ai-button {
    margin-top: 20px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

.popup-container.show {
    display: block;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 48px;
    cursor: pointer;
}

td:hover {
    background-color: lightgray;
}

#result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.close-game-btn {
    background-color: #ff5252;
    display: flex;
    display: inline;
    justify-content: space-between;
    margin: 10px auto;
    margin-right: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 100px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 3px solid black;
}

.close-game-btn:hover {
    background-color: #ff1744;
}


/* SODUKO */

.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal-content {
    position: absolute;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
    max-width: 900px;
    max-height: 900px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sudoku-grid {
    border-collapse: collapse;
    width: 90%;
    height: 90%;
}

#sudoku-grid td {
    border: 1px solid #000;
    width: 10%;
    height: 10%;
    text-align: center;
    font-size: 1.8vw;
    padding: 0;
}

#sudoku-grid td:nth-child(3n+1) {
    border-left-width: 3px;
}

#sudoku-grid td:nth-child(3n) {
    border-right-width: 3px;
}

#sudoku-grid tr:nth-child(3n+1) td {
    border-top-width: 3px;
}

#sudoku-grid tr:nth-child(3n) td {
    border-bottom-width: 3px;
}

#sudoku-grid tr:nth-child(3n+1) td:nth-child(3n+1) {
    border-top-width: 3px;
    border-left-width: 3px;
}

#sudoku-grid tr:nth-child(3n+1) td:nth-child(3n) {
    border-top-width: 3px;
    border-right-width: 3px;
}

#sudoku-grid tr:nth-child(3n) td:nth-child(3n+1) {
    border-bottom-width: 3px;
    border-left-width: 3px;
}

#sudoku-grid tr:nth-child(3n) td:nth-child(3n) {
    border-bottom-width: 3px;
    border-right-width: 3px;
}

.sudoku-cell.incorrect {
    background-color: #fd0c0c;
}

#sudoku-grid input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 1.8vw;
}

.sudoku-btn {
    display: flex;
    display: inline;
    justify-content: space-between;
    margin: 10px auto;
    margin-right: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;
}


/* HANGMAN */

.hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.word-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.word-container span {
    border-bottom: 2px solid #000;
    margin: 0 5px;
    padding: 0 5px;
    font-size: 20px;
}

.guess-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.guess-container input {
    width: 30px;
    text-align: center;
    margin: 0 5px;
    font-size: 20px;
}

.message {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.wrong-letters {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.modal-hangman {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-hangman {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}